@import "assets/style/variable";

* { padding: 0; margin: 0;}

a {
  text-decoration: none;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}

.fl { float: left;}
.fr { float: right;}

.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex-c {
  flex-direction: column;
}
.flex-r {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}



.box {

  .box-tit {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: $titColor;

    .t-span {
      width: 4px;
      height: 24px;
      margin-right: 10px;
      background: $bg;
    }

    .arrow-icon {}
  }
}
