.banner {
  height: 140px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.disc-wrapper {

  .disc-item {
    margin-bottom: 20px;

    .disc-pic {
      width: 100%;
      position: relative;

      img {
        width: 100%;
      }

      .disc-l-num {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
      }
    }

    .disc-name {
      height: 38px;
      line-height: 18px;
      font-size: 12px;
      overflow: hidden;
    }
  }
}
